{% extends "registration/base.html" %}
{% load crispy_forms_tags %}

{% block body %}
{% if lbw.accommodation_set.all|length > 0 %}
<ul>
{% for accommodation in lbw.accommodation_set.all %}
<li style="text-align: left;">{{ accommodation }} - {{ accommodation.userregistration_set.all|length}} staying here.</li>
{% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Add new accommodation</h3>
	</div>
	<div class="panel-body">
		{% crispy accommodation_form %}
	</div>
</div>
{% endif %}
{% endblock %}a
