{% extends "registration/base.html" %}
{% block body %}
        <br/>
        <table class='reginfo'>
            <tr>
                <TH COLSPAN=3>
                    {{ activity.short_name }}<br/>
                    Organised by<br/>
                    {% for owner in activity.owners.all %}
                        {{ owner.first_name }} {{ owner.last_name }}<br />
                    {% endfor %}
                </th>
            </tr>
            <tr>
                <TD COLSPAN=3>
                    {{ activity.description }}
                </td>
            </tr>
            {% if user.is_admin or user in activity.owners.all %}
                <tr>
                    <th>
                        <button id="show_propose">Edit the activity information</button>
                        <script>ShowElementWhenButtonClicked("#show_propose", "#propose_activity");</script>
                    </th>
                    <th>
                        &nbsp;
                    </th>
		    <th>
		      <button id="show_confirm_delete">Delete</button>
                      <script>ShowElementWhenButtonClicked("#show_confirm_delete", "#confirm_delete");</script>
	            </th>
	        </tr>
		<tr id="confirm_delete" class="hidden">
                    <td colspan=3>
                    {% csrf_token %}
                    <button id="really_delete"
                        data-url="{% url 'registration:cancel_activity' activity.id %}">Really delete</button>
                <button id="hide_confirm_delete">Cancel</button>
                <script>
                  HideElementWhenButtonClicked("#hide_delete_form", "#confirm_delete");
                  SetupDeleteHandler("#really_delete");
                </script>
	        </tr>
            </tr>
            {% else %}
              <tr>
                <th>
                  Are you attending this activity?
                </th>
                <td>
                  &nbsp;
                </td>
                <td>
                  <form action="{% url 'registration:activity_register' activity.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="{% if user in activity.attendees.all %}De{% endif %}register"/>
                  </form>
                </td>
            </tr>
            {% endif %}
            {% if activity.can_be_scheduled %}
            <TR>
                <TH COLSPAN=3>
                    This activity is currently {% if not activity.start_date %}not {% endif %}scheduled {% if activity.start_date %} for:{% endif %}
                </TH>
            </TR>
            <TR>
              <TH COLSPAN=3>
{% if activity.start_date %} {{ activity.start_date }} - {{ activity.end_date }}{% endif %}
              </TH>
            </TR>
            {% endif %}
            {% if activity.attendees.count > 0 %}
            <tr>
                <TH COLSPAN=3>
                    There are {{ activity.attendees.count }} people registered for this activity:
                </th>
            </tr>
                <tr>
                    <TD COLSPAN=3>
                        <table class='reginfo'>
                            <tr>
                                <td colspan=3>
                                    {% for att_user in activity.attendees.all %}
                                        <span {% if att_user in activity.GetMissingUsers %}class="missing_attendees"{% endif %}>
                                            {{ att_user.first_name }} {{ att_user.last_name }}</span>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endif %}
	    {% if activity.attachment %}
	    <tr>
	      <td colspan=3>
	    {% if activity.attachment_type = 1 %}
	      GPS track goes here
	    {% elif activity.attachment_type = 2 %}
	      <img src="{{ activity.attachment.url }}" />
	    {% else %}
	      <a href="{{ activity.attachment.url }}">Attachment</a>
	    {% endif %}
	      </td>
            </tr>
	    {% endif %}
	      
        </table>
    {% with message_set=activity.message_set %}
      {% include 'registration/message_table.html' %}
    {% endwith %}
    {% if user in activity.owners.all %}
      {% include "registration/activity_propose_window.html" %}
    {% endif %}

{% endblock %}
