{% extends "registration/base.html" %}
{% block body %}
    <br/>
    <tr>
        <td colspan='5'>
            <a href="#propose_activity" onclick="ToggleDisplay('propose_activity')">Offer to manage an activity.</a>
        </td>
    </tr>
    <table class='events'>
        <tr>
            <th colspan='5'>
                Workshops
            </th>
        </tr>
        <tr>
            <th class='event_name'>
                Workshop Project
            </th>
            <th class='event_organiser'>
                Co-ordinator
            </th>
            <th class='event_subs'>
                Subs.
            </th>
            <th class='event_messages'>
                Msg.
            </th>
            <th class='event_schedule'>
                Schedule
            </th>
        </tr>
        {% for activity in event.event_set.all %}
          {% if activity.event_type == 1 %}
            {% include "registration/event_table_rows.html" %}
          {% endif %}
        {% endfor %}
    </table>
    <br><br>
    <table class='events'>
        <tr>
            <th colspan='5'>
                Lectures &amp; Seminars
            </th>
        </tr>
        <tr>
            <th class='event_name'>
                Subject
            </th>
            <th class='event_organiser'>
                Speaker
            </th>
            <th class='event_subs'>
                Subs.
            </th>
            <th class='event_messages'>
                Msg.
            </th>
            <th class='event_schedule'>
                Schedule
            </th>
        </tr>
        {% for activity in event.event_set.all %}
          {% if activity.event_type == 2 %}
            {% include "registration/event_table_rows.html" %}
          {% endif %}
        {% endfor %}
    </table>
    <br><br>
    <table class='events'>
        <tr>
            <th colspan='5'>
                Excursions &amp; Hikes
            </th>
        </tr>
        <tr>
            <th class='event_name'>
                Destination
            </th>
            <th class='event_organiser'>
                Organiser
            </th>
            <th class='event_subs'>
                Subs.
            </th>
            <th class='event_messages'>
                Msg.
            </th>
            <th class='event_schedule'>
                Schedule
            </th>
        </tr>
        {% for activity in event.event_set.all %}
          {% if activity.event_type == 2 %}
            {% include "registration/event_table_rows.html" %}
          {% endif %}
        {% endfor %}
    </table>
    <br><br>
    <table class='events'>
        <tr>
            <th colspan='5'>
                Community Events
            </th>
        </tr>
        <tr>
            <th class='event_name'>
                Activity
            </th>
            <th class='event_organiser'>
                Organiser
            </th>
            <th class='event_subs'>
                Subs.
            </th>
            <th class='event_messages'>
                Msg.
            </th>
            <th class='event_schedule'>
                Schedule
            </th>
        </tr>
        {% for activity in event.event_set.all %}
          {% if activity.event_type == 2 %}
            {% include "registration/event_table_rows.html" %}
          {% endif %}
        {% endfor %}
    </table>

    {% include 'registration/propose_window.html' %}
{% endblock %}
