{% extends "registration/base.html" %}
{% block body %}
    <br/>
    <a href="#propose_activity" onclick="ToggleDisplay('propose_activity')">Offer to manage an activity.</a>
    {% for activity_type, activity_type_name in activity_form.Meta.model.ACTIVITY_TYPES %}
    <table class='events'>
        <tr>
            <th colspan='5'>
                {{ activity_type_name }}
            </th>
        </tr>
        <tr>
            <th class='event_name'>
                Destination
            </th>
            <th class='event_organiser'>
                Organisers
            </th>
            <th class='event_subs'>
                Subs.
            </th>
            <th class='event_messages'>
                Msg.
            </th>
            <th class='event_schedule'>
                Schedule
            </th>
        </tr>
      {% for activity in lbw.activity.all %}
        {% if activity.activity_type == activity_type %}
          {% include "registration/event_table_rows.html" %}
        {% endif %}
      {% endfor %}
    </table>
    <br/><br/>
    {% endfor %}

    {% include 'registration/activity_propose_window.html' %}
{% endblock %}
