<div id='propose_activity' class='hidden popup_form'>
    <FORM METHOD=POST action="{% url 'registration:activities' lbw.id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
      {% if activity %}
      <input type=hidden name="activity_id" value="{{ activity.id }}" />
      {% endif %}
      {{ activity_form.as_table }}
      <tr>
        <th>
        </th>
        <td>
          <INPUT TYPE=SUBMIT NAME=option VALUE=Save>
        </td>
    </table>
    </form>
    
    <button id="hide_propose">Cancel</button>
    <script>HideElementWhenButtonClicked("#hide_propose", "#propose_activity");</script>
</div>
{% if activity_form.errors %}
<script>$('#propose_activity').show();</script>
{% endif %}
