{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if lbw %}LBW {{ lbw.short_name }} in {{ lbw.location }}{% else %}LBW Registration System{% endif %}</title>

    <script src="{% static 'registration/jquery.min.js' %}"></script>
    <script src="{% static 'registration/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'registration/jquery-ui-timepicker-addon.js' %}"></script>
    <script src="{% static 'registration/lbw.js' %}"></script>
    {% block extra_headers %}
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'registration/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'registration/bootstrap-theme.min.css' %}">

    <link rel="shortcut icon" href="{% static 'registration/wandertux.ico' %}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'registration/reg.css' %}" type="text/css"/>
</head>
<body class='protected'>

<div class="row">
    <div class="col-md-2">
        <a href="{% url 'registration:index' %}">
            <img
                    src="{% static 'registration/hiking_tux-116x149.jpg' %}"
                    alt="Hiking Tux"
                    border="0"
                    width="116"
                    height="149"
                    />
        </a>
        <ul class="nav nav-pills">
            {% for an_lbw in lbws %}
	    <li class="{% if lbw.id == an_lbw.id %}active{% endif %}">
	        <a href="{% url 'registration:detail' an_lbw.id %}">{{ an_lbw.short_name }} in {{ an_lbw.location }} from {{ an_lbw.start_date }} until {{ an_lbw.end_date }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="content col-md-9">
        {% include 'registration/navbar.html' %}
	<br />
	<br />
	<br />
        {% block body %}
            Someone messed everything up here!
        {% endblock %}
    </div>
    {% if user.is_authenticated %}
        {% include 'accounts/navbar.html' %}
    {% endif %}
    
    {# include 'footer.html' #}
</div>
</body>
</html>
