<tr>
    <td class='event_name'>
        <a href="{% url 'registration:activity' lbw.id activity.id %}">{{ activity.short_name }}</a>
    </td>
    <td class='event_owner'>
        {% for owner in activity.owners.all %}
            <a href="{% url 'registration:userview' owner.id }}">{{ owner.first_name }} {{ owner.last_name }}</a><br />
        {% endfor %}
    </td>
    <td class='event_subs'>
        {{ activity.attendees.count }}
    </td>
    <td class='event_messages'>
        {{ activity.message_set.count }}
    </td>
    <td class='event_schedule'>
        {% if user.is_admin %}
            <form method=post action="{% url 'registration:schedule_activity' lbw.id %}">
              {% csrf_token %}
              {{ schedule_activity_form.as_p }}
              <input type=submit value="update"/>
            </form>
        {% else %}
            {{ activity.schedule }}
        {% endif %}
    </td>
</tr>
