{% extends "base.html" %}
{% block body %}
    <br/>
    <table class='reginfo'>
        {% for picture in pictures %}
            {% if (loop.index0 % 3) == 0 %}
                <tr>
            {% endif %}
            <TD><A HREF='userview.php?user={{ picture.lbwid }}'><img src='pictures/{{ picture.galpix }}'
                                                                     height=200 width=150></a>
                <br/>{{ picture.firstname }} {{ picture.surname }}
            </td>

            {% if (loop.index0 % 3) == 2 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table><br/>
    <hr/>To be included email us a portrait format photo width=150,height=200, saying who you are.<br/>
{% endblock %}
