{% extends "registration/base.html" %}

{% block body %}
{% if lbws %}
{% if user.lbw_owners.count > 0 %}
LBWs you have created:<br/>
<ul>
{% for own_lbw in user.lbw_owners.all %}
    <li><a href="/registration/{{ own_lbw.id }}/">{{ own_lbw.description }}</a> from {{ own_lbw.start_date }} until {{ own_lbw.end_date}} in {{ own_lbw.location }}</li>
{% endfor %}
</ul>
{% endif %}

{% if user.lbw_attendees.count > 0 %}
  LBWs you have registered for:<br/>
  {% for reg_lbw in user.lbw_attendees.all %}
    {% if reg_lbw not in user.lbw_owners.all %}
    <ul>
      <li><a href="/registration/{{ reg_lbw.id }}/">{{ reg_lbw.description }}</a> from {{ reg_lbw.start_date }} until {{ reg_lbw.end_date}} in {{ reg_lbw.location }}</li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}

All known LBWs:
<br/>
<ul>
{% for an_lbw in lbws %}
  {% if not an_lbw in user.lbw_owners.all and not an_lbw in user.lbw_attendees.all %}
    <li><a href="/registration/{{ an_lbw.id }}/">{{ an_lbw.description }}</a> from {{ an_lbw.start_date }} until {{ an_lbw.end_date}} in {{ an_lbw.location }}</li>
  {% endif %}
{% endfor %}
</ul>
{% endif %}

<hr />
{% if user.is_authenticated %}
<h2><a href="{% url 'registration:propose_lbw' %}">Propose</a> an LBW</h2>
{% else %}
Please <a href="{% url 'django.contrib.auth.views.login' %}">login</a> to propose an LBW.
{% endif %}

{% endblock %}
