{% extends "registration/base.html" %}

{% block body %}
{% if user.lbwuser.lbw_owners.count > 0 %}
LBWs you have created:<br/>
<ul>
{% for own_lbw in user.lbwuser.lbw_owners.all %}
    <li><a href="/registration/{{ own_lbw.id }}/">{{ own_lbw.short_name }}</a> from {{ own_lbw.start_date }} until {{ own_lbw.end_date}} in {{ own_lbw.location }}</li>
{% endfor %}
</ul>
{% endif %}

{% if user.lbw_attendees.count > user.lbwuser.lbw_owners.count %}
  LBWs you have registered for:<br/>
  {% for reg_lbw in user.lbw_attendees.all %}
    {% if reg_lbw not in user.lbwuser.lbw_owners.all %}
    <ul>
      <li>
        <a href="/registration/{{ reg_lbw.id }}/">{{ reg_lbw.short_name }}</a>
        from {{ reg_lbw.start_date }} until {{ reg_lbw.end_date}} in {{ reg_lbw.location }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}

<hr />
{% if user.is_authenticated %}
<h2><a href="{% url 'registration:propose_lbw' %}">Propose</a> an LBW</h2>
{% else %}
Please <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode:"" }}">login</a> to propose an LBW.
{% endif %}

<hr />
<p>
Source code is <a href="https://github.com/lbedford/lbwreg.django.git">available</a> and welcoming of pull requests. Feedback can either be mailed to the author or (if you have a github account), added <a href="https://github.com/lbedford/lbwreg.django/issues/new">here</a>.
</p>

{% endblock %}
