{% extends "registration/base.html" %}

{% block body %}
  <FORM METHOD=POST ACTION="{% url 'registration:save_message' %}">
    {% csrf_token %}
    <table class="table">
      <tr>
        <th>Leaving a message in
	</th>
	<th>{% if activity %}Activity: {{ activity.short_name }}
	    {% else %}LBW: {{lbw.short_name}}
	    {% endif %}
	</th>
      </tr>
      {% if message %}
      <tr>
        <td colspan=2>In reply to {{ message.writer.first_name }} {{ message.writer.last_name }} who said:</td>
      </tr>
      <tr>
	      <td colspan=2><blockquote><p>{{message.message}}</p></blockquote></td>
      </tr>
      {% endif %}
      <tr>
        <th>
          <label for="subject">Subject:</label>
          {{ message_form.subject.errors }}
        </th>
        <td>
          <input
              id="subject"
              maxlength="40"
              name="subject"
	      {% if message %}
	      value="{{ message.subject }}"
	      type="hidden"
	      {% else %}
              type="text"
	      {% endif %}
              required />
	  {% if message %}
	  {{ message.subject }}
	  {% endif %}
        </td>
      </tr>
      <tr>
        <th>
          <label for="message">Message:</label>
        </th>
        <td>
          {{ message_form.message }}
        </td>
      </tr>
    </table>
    <INPUT TYPE=HIDDEN NAME='lbw_id' VALUE='{{ lbw.id }}' />
    {% if activity %}
      <INPUT TYPE=HIDDEN NAME='activity_id' VALUE='{{ activity.id }}' />
    {% endif %}
    {% if message %}
      <INPUT TYPE=HIDDEN NAME='previous_id' VALUE='{{ message.id }}' />
    {% endif %}
  <input type="submit" value="Write" />
  </form>
{% endblock %}
