{% extends "registration/base.html" %}
{% block body %}
    Reading message from "{{ message.activity.short_name }}"<br/>
    From: {{ message.writer.first_name }} {{ message.writer.last_name }}<br>
    Subject: {{ message.subject }}<br>
    Posted: {{ message.posted }}<br>
    {% if user == message.writer %}
        <button id="show_confirm_delete">Delete</button>
        <script>ShowElementWhenButtonClicked("#show_confirm_delete", "#confirm_delete");</script>
        <div id="confirm_delete" class="hidden">
          {% csrf_token %}
          <button id="really_delete">Really delete</button>
          <button id="hide_confirm_delete">Cancel</button>
          <script>
            HideElementWhenButtonClicked("#hide_delete_form", "#confirm_delete");
            $("#really_delete").click(function() {
              $.ajax({
                  type: 'POST',
                  url: "{% url 'registration:delete_message' %}",
                  data: {
                      csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                      message_id: {{ message.id }}
                  },
                  success: function(data) {
                    alert("Congratulations! You scored: "+data);
                  },
                  error: function(xhr, textStatus, errorThrown) {
                    alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
                  }
              });
            });
          </script>
        </div>
    {% endif %}
    <hr>
    {% autoescape off %}
<pre style='text-align: left;'>
{{ message.message }}
</pre>
    {% endautoescape %}
    <hr>
    <button id="show_message_write">Reply</button>
    <script>ShowElementWhenButtonClicked("#show_message_write", "#message_write");</script>
    &nbsp;<a href="{% url 'registration:activity' message.activity_id %}#messages">[Browse]</a>
    {% if message.previous_id %}
        &nbsp;<a href="{% url 'registration:message' message.previous_id %}">[Previous]</a>&nbsp;
    {% endif %}
    {% if message.next_id %}
        &nbsp;<a href="{% url 'registration:message' message.next_id %}">[Next]</a>&nbsp;
    {% endif %}
    {% with activity=message.activity %}
      {% include "registration/activity_message_write.html" %}
    {% endwith %}

{% endblock %}
