{% extends "registration/base.html" %}

{% block body %}
  <FORM METHOD=POST ACTION="{% url 'registration:save_message' %}">
    {% csrf_token %}
    <table>
      <tr>
        <th>Leaving a message in
	</th>
	<th>{% if activity %}Activity: {{ activity.short_name }}
	    {% else %}LBW: {{lbw.short_name}}
	    {% endif %}
	</th>
      <tr>
        <th>
          <label for="subject">Subject:</label>
        </th>
        <td>
          <input
              id="subject"
              maxlength="40"
              name="subject"
              type="text"/>
        </td>
      </tr>
      <tr>
        <th>
          <label for="message">Message:</label>
        </th>
        <td>
          <textarea id="message" rows="10" cols="60" name="message"></textarea>
        </td>
      </tr>
    </table>
    <INPUT TYPE=HIDDEN NAME='lbw_id' VALUE='{{ lbw.id }}' />
    {% if activity %}
      <INPUT TYPE=HIDDEN NAME='activity_id' VALUE='{{ activity.id }}' />
    {% endif %}
    {% if message %}
      <INPUT TYPE=HIDDEN NAME='previous_id' VALUE='{{ message.id }}' />
    {% endif %}
  <input type="submit" value="Write" />
  </form>
  <button id="hide_message_write">Cancel</button>
  <script>HideElementWhenButtonClicked("#hide_message_write", "#message_write");</script>
{% endblock %}
