    <table class='messages'>
        <tr>
            <th colspan='4'>
                <span style='text-align: center; font-weight: bold;'>Message Board</span>
            </th>
        </tr>
        {% if message_set.count > 0 %}
            <tr>
                <th class='message_from'>
                    From
                </th>
                <th class='message_subject'>
                    Subject
                </th>
                <th class='message_posted'>
                    Time
                </th>
            </tr>
        {% for message in message_set.all %}
            <tr>
                <td class='message_from'>
                    {{ message.writer.first_name }} {{ message.writer.last_name }}
                </td>
                <td class='message_subject'>
                    <a href="#message_{{ message.id }}" onclick="ShowMessageContents()" id="read_{{ message.id }}">
                    <script>$("#read_{{ message.id }}").click(function() {
                      $("#message_{{ message.id }}").show();
                    });</script>
                    {{ message.subject }}</a>
                </td>
                <td class='message_posted'>
                    {{ message.posted }}
                </td>
            </tr>
            <tr id="message_{{ message.id }}" class="hidden">
              <td colspan=2>
                {{ message.message }}
              </td>
              <td>
                <button id="reply_{{ message.id }}">Reply</button>
              {% if user == message.writer %}
                <button id="show_confirm_delete"
                        >Delete</button>
                <script>ShowElementWhenButtonClicked("#show_confirm_delete", "#confirm_delete");</script>
              </td>
            </tr>
            <tr id="confirm_delete" class="hidden">
              <td colspan=3>
                {% csrf_token %}
                <button id="really_delete"
                        data-url="{% url 'registration:delete_message' message.id %}">Really delete</button>
                <button id="hide_confirm_delete">Cancel</button>
                <script>
                  HideElementWhenButtonClicked("#hide_delete_form", "#confirm_delete");
                  SetupDeleteHandler("#really_delete");
                </script>
              {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
        <tr class='post_message'>
            <td colspan='4'>
              <button id="show_message_write">Post a message</button>
              <script>ShowElementWhenButtonClicked("#show_message_write", "#message_write");</script>
            </td>
        </tr>
    </table>
