<div class='subnavbar' style="text-align: center;">
  {% if lbw %}
    <a href="{% url 'registration:detail' lbw.id %}">Welcome</a>
    &nbsp; <a href="{% url 'registration:activities' lbw.id %}">Activities</a>
    &nbsp; <a href="{% url 'registration:schedule' lbw.id %}">Schedule</a>
    &nbsp; <a href="{% url 'registration:tshirts' lbw.id %}">T-shirts</a>
    &nbsp; <a href="{% url 'registration:participants' lbw.id %}">Participants</a>
    &nbsp; <a href="{% url 'registration:rides' lbw.id %}">Rides</a>
  {% endif %}
  {% if user.is_authenticated %}
    &nbsp; <a href="{% url 'changepassword' %}">Change Password</a>
    &nbsp; <a href="{% url 'logout' %}">Logout</a>
  {% endif %}
</div>
