{% extends "registration/base.html" %}
{% block body %}
    {% for entry in lbw.get_schedule|dictsort:"day" %}
    <div class="panel panel-default">
	    <div class="panel-heading">
		    <h3 class="panel-title">{{ entry.day|date:"l - F j, Y" }}</h3>
	    </div>
	    <div class="panel-body">
		    <div class="row">
			    {% for activity in entry.activities %}
			    <div class="col-md-3">
				    <div class="panel panel-default">
					    <h3 class="panel-title">
						    <a href='{% url 'registration:activity' activity.id%}'>{{ activity.short_name }}</a>
					    </h3>
				    </div>
				    <div class="panel-body">
				        {{ activity.description | urlize}}<br/>
				        <br/>
				        Start: {{ activity.start_date }}<br/>
				        End: {{ activity.end_date }}<br/>
				        {% if user in activity.attendees.all %}
				        <span class="i_am_attending">You are attending this activity</span><br />
				        {% endif %}
				        {% if activity.get_missing_users|length > 0 %}
				        Missing Attendees:<br/>
				        {% for user in activity.get_missing_users %}
				        <span class="missing_attendees">{{ user.get_full_name }}</span>
				        {% endfor %}
				        {% endif %}
				    </div>
			    </div>
			    {% empty %}
			    <div class="col-md-12">
				    <p>No events scheduled on this day.</p>
			    </div>
			    {% endfor %}
		    </div>
	    </div>
    </div>
    {% endfor %}
{% endblock %}
