{% extends "registration/base.html" %}
{% block body %}
    {% for entry in lbw.GetSchedule|dictsort:"day" %}
      <div class="row">
	      <div class="col-md-12 schedule_activity_title">
                {{ entry.day }}
	      </div>
      </div>
      <div class="row">
        {% for activity in entry.activities %}
          <div class="col-md-3">
            <a href='{% url 'registration:activity' lbw.id activity.id%}'>{{ activity.short_name }}</a><br/>
	    {{ activity.description }}<br/>
	    <hr/>
            Start: {{ activity.start_date }}<br/>
            End: {{ activity.end_date }}<br/>
            {% if activity.GetMissingUsers|length > 0 %}
	    Missing Attendees:<br/>
              {% for user in activity.GetMissingUsers %}
	      <span class="missing_attendees">{{ user.get_full_name }}</span>
              {% endfor %}
            {% endif %}
          </div>
        {% empty %}
	<div class="col-md-12">
          No events scheduled on this day.
	</div>
        {% endfor %}
      </div>
    {% endfor %}
{% endblock %}
