{% extends "registration/base.html" %}
{% block body %}
    <br/>
    <table class='reginfo'>
        <tr>
            <TH COLSPAN=3>{{ user.first_name }} {{ user.last_name }}</th>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td rowspan='3'>{% if picture_url %}
                    <img src='{{ picture_url }}'>
                {% else %}
                    <br>No<br>Picture<br>Available<br>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Login</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td><A href=mailto:{{ user.email }}>{{ user.email }}</a></td>
        </tr>
    </table>
    <br>
{% endblock %}
