/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

th.users_id {
    width: 5%;
}

th.users_name {
    width: 20%;
}

th.subject {
    width: 40%;
}

.event_name {
    width: 35%;
    text-align: left;
}

.event_owner {
    width: 15%;
    text-align: center;
}

.event_messages {
    width: 5%;
    text-align: center;
}

.event_subs {
    width: 5%;
    text-align: center;
}

.event_schedule {
    width: 50%;
    text-align: right;
}


.message_from {
    width: 35%;
    text-align: left;
}

.message_subject {
    text-align: left;
}

.message_posted {
    text-align: right;
    width: 20%;
}

hr {
    width: 90%;
}


.unscheduled {
    background-color: #EE6 !important;
}

.missing_attendees {
    border: solid red 1px;
}

.i_am_attending {
    border: solid green 1px;
}

.conflict {
    background-color: #FF0000;
}

.logo {
    float: left;
}

.post_message {
    text-align: right;
}

.lbw_start_time {
    font-weight: bold;
}

.schedule_activity_title {
    font-weight: bold;
    border: solid black 1px;
    display: block;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
